@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto";
}

body, html {
  overflow-x: hidden;
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

button {
  cursor: pointer;
  transition: 0.3s;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #939878;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: #F5F5F2;
}

header {
  background-color: #fff;
  position: fixed;
  z-index: 99;
  right: 0;
  left: 0;
  top: 0;
}

.week {
  background-color: #939878;
  transition: 0.2s;
  height: 40px;
}
.week .top_bg {
  position: relative;
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
}
.week .top_bg p {
  position: absolute;
  left: auto;
  top: 7px;
  transition: 0.2s;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}
.week .top_bg ion-icon {
  position: absolute;
  transition: 0.2s;
  font-size: 28px;
  color: #fff;
  top: 4px;
  right: 20px;
}

.navbar-shrink .week {
  height: 0;
}
.navbar-shrink .week p {
  top: -40px;
}
.navbar-shrink .week ion-icon {
  top: -40px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  gap: 40px;
}
.navbar > a > img:nth-child(1) {
  display: none;
}
.navbar_items {
  display: flex;
  align-items: center;
  gap: 32px;
}
.navbar_items .btn {
  height: 40px;
}
.navbar_items .btn .card_svg {
  fill: #fff;
  transition: 0.3s;
}
.navbar_items .btn:hover .card_svg {
  fill: #2A2C1F;
}
.navbar_link {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  color: #2A2C1F;
  transition: 0.2s;
  gap: 8px;
}
.navbar_link:hover {
  opacity: 0.8;
}
.navbar .burger_menu {
  display: none;
}

@media screen and (max-width: 992px) {
  .navbar_items {
    position: absolute;
    background-color: #939878;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    height: 90vh;
    width: 60vw;
    top: 100%;
    right: 0;
    transform: translate(100%);
    transition: all 0.5s ease-in-out;
  }
  .navbar_link {
    font-size: 18px;
  }
  .navbar .burger_menu {
    position: relative;
    width: 28px;
    height: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    transition: all 0.5s ease-in-out;
  }
  .navbar .burger_menu span {
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: #939878;
    transition: all 0.5s ease-in-out;
  }
  .open_menu .navbar_items {
    transform: translate(0);
  }
  .open_menu .navbar .burger_menu {
    transform: rotate(-180deg);
  }
  .open_menu .navbar .burger_menu_top {
    position: absolute;
    transform: rotate(135deg);
  }
  .open_menu .navbar .burger_menu_center {
    position: absolute;
    transform: rotate(-135deg);
  }
  .open_menu .navbar .burger_menu_bottom {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .navbar_items {
    width: 100vw;
    align-items: center;
    gap: 16px;
  }
}
.back_top {
  width: 0;
  height: 0;
  transition: 0.3s;
}
.back_top ion-icon {
  font-size: 0;
}

.navbar-shrink .back_top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  background-color: #939878;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 99;
}
.navbar-shrink .back_top ion-icon {
  font-size: 24px;
  color: #2A2C1F;
}

.secrion_first {
  width: 100vw;
  margin: 0 auto;
  padding-top: 85px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.hero_text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 820px;
  width: 100%;
  height: 681px;
}
.hero_text_title {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
  gap: 20px;
}
.hero_text_title span {
  padding: 4px 12px;
  border-radius: 32px;
  background-color: rgba(167, 167, 167, 0.3019607843);
  font-size: 14px;
  line-height: 21px;
  color: #2A2C1F;
}
.hero_text_title h1 {
  font-size: 56px;
  line-height: 68px;
  font-weight: 500;
  color: #2A2C1F;
}
.hero_text_title p {
  font-size: 20px;
  line-height: 30px;
  color: #65665C;
  max-width: 500px;
}
.hero_text_title label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.hero_text_title label .input {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: 1px solid #E7E8E3;
  background-color: #fff;
  border-radius: 4px;
  transition: 0.3s;
  height: 40px;
  flex-grow: 1;
}
.hero_text_title label .input:hover {
  box-shadow: 0 0 3px 2px rgba(199, 199, 199, 0.2431372549);
}
.hero_text_title label .input ion-icon {
  font-size: 20px;
  color: #2A2C1F;
}
.hero_text_title label .input input {
  font-size: 18px;
  flex-grow: 1;
  padding: 0 10px;
  border: none;
  background-color: transparent;
}
.hero_text .left_top {
  position: absolute;
  right: 0;
  bottom: 0;
}
.hero_text .right_bottom {
  position: absolute;
  top: 0;
  left: 0;
}

.hero_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 0;
}
.hero_icons p {
  font-size: 18px;
  line-height: 27px;
  color: #2A2C1F;
  max-width: 240px;
}
.hero_icons_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;
}
.hero_icons_logo img {
  cursor: pointer;
}

@media (max-width: 1240px) {
  .hero {
    flex-direction: column;
  }
  .hero_text {
    max-width: 720px;
  }
  .hero_img {
    max-width: 720px;
  }
  .hero_img img {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .hero_icons {
    flex-direction: column;
    gap: 40px;
  }
  .hero_icons p {
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .hero_text {
    height: auto;
    padding: 50px 0;
  }
  .hero_text .right_bottom {
    display: none;
  }
  .hero_text .left_top {
    display: none;
  }
  .hero_text_title {
    align-items: center;
    text-align: center;
  }
  .hero_text_title h1 {
    font-size: 40px;
    line-height: 50px;
  }
}
@media screen and (max-width: 480px) {
  .hero_text_title h1 {
    font-size: 32px;
    line-height: 40px;
  }
  .hero_text_title label {
    display: flex;
    flex-direction: column;
  }
}
.section_two {
  padding: 64px 0;
}

.works {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.works h2 {
  font-size: 48px;
  line-height: 56px;
  color: #2A2C1F;
  text-align: center;
}
.works > p {
  font-size: 18px;
  line-height: 27px;
  color: #65665C;
  max-width: 750px;
  text-align: center;
  margin: 20px 0 50px 0;
}
.works_cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px 32px;
}
.works_card {
  max-width: 405px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 16px;
  border: 1px solid #E7E8E3;
  transition: 0.3s;
  padding: 40px;
  gap: 24px;
}
.works_card:hover {
  box-shadow: 2px 2px 6px 3px rgba(128, 128, 128, 0.2);
}
.works_card h3 {
  font-size: 24px;
  line-height: 34px;
  color: #2A2C1F;
}
.works_card p {
  font-size: 16px;
  line-height: 24px;
  color: #65665C;
}

.section_three {
  padding-bottom: 64px;
}

.house {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.house_text {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.house_text span {
  padding: 4px 12px;
  border-radius: 32px;
  background-color: rgba(167, 167, 167, 0.3019607843);
  font-size: 14px;
  line-height: 21px;
  color: #2A2C1F;
}
.house_text h2 {
  font-size: 48px;
  line-height: 57px;
  font-weight: 600;
  max-width: 450px;
  color: #2A2C1F;
}
.house_text p {
  font-size: 18px;
  line-height: 27px;
  color: #65665C;
  max-width: 520px;
}
.house_text_btns {
  display: flex;
  align-items: center;
  gap: 24px;
}
.house_text_btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  color: #2A2C1F;
  font-size: 16px;
  line-height: 24px;
  border: none;
  gap: 4px;
}
.house_img {
  max-width: 600px;
  order: 2;
}
.house_img img {
  width: 100%;
  border-radius: 20px;
}

.section_four {
  padding-bottom: 64px;
}

.process {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.process_img {
  max-width: 600px;
}
.process_img img {
  width: 100%;
  border-radius: 20px;
}
.process_text {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.process_text_cards {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.process_text_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 280px;
  width: 100%;
  gap: 16px;
}
.process_text_card h3 {
  font-size: 20px;
  line-height: 28px;
  color: #2A2C1F;
}
.process_text_card p {
  font-size: 16px;
  line-height: 24px;
  color: #65665C;
}
.process_text span {
  padding: 4px 12px;
  border-radius: 32px;
  background-color: rgba(167, 167, 167, 0.3019607843);
  font-size: 14px;
  line-height: 21px;
  color: #2A2C1F;
}
.process_text h2 {
  font-size: 48px;
  line-height: 57px;
  font-weight: 600;
  color: #2A2C1F;
}
.process_text p {
  font-size: 18px;
  line-height: 27px;
  color: #65665C;
  max-width: 520px;
}
.process_text_btns {
  display: flex;
  align-items: center;
  gap: 24px;
}
.process_text_btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  color: #2A2C1F;
  font-size: 16px;
  line-height: 24px;
  border: none;
  gap: 4px;
}

@media screen and (max-width: 992px) {
  .house {
    flex-direction: column;
  }
  .house_text {
    align-items: center;
    text-align: center;
  }
  .process {
    flex-direction: column;
  }
  .process_text {
    align-items: center;
    text-align: center;
  }
  .process_text_card {
    align-items: center;
  }
  .process_img {
    order: 2;
  }
}
@media screen and (max-width: 576px) {
  .works h2 {
    font-size: 36px;
    line-height: 40px;
  }
  .house h2 {
    font-size: 36px;
    line-height: 40px;
  }
  .process h2 {
    font-size: 36px;
    line-height: 40px;
  }
  .process_text_cards {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
}
@media screen and (max-width: 480px) {
  .works h2 {
    font-size: 28px;
  }
  .house h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .house_text_btns {
    flex-direction: column;
  }
  .process h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .process_text_btns {
    flex-direction: column;
  }
}
.section_five {
  position: relative;
  background-color: #F5F5F2;
}
.section_five .left_top {
  position: absolute;
  bottom: 0;
  right: 0;
}
.section_five .right_bottom {
  position: absolute;
  left: 0;
  top: 0;
}

.favorite {
  padding: 150px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.favorite > span {
  padding: 4px 12px;
  border-radius: 32px;
  background-color: rgba(167, 167, 167, 0.3019607843);
  font-size: 14px;
  line-height: 21px;
  color: #2A2C1F;
}
.favorite h2 {
  font-size: 48px;
  line-height: 56px;
  color: #2A2C1F;
  margin: 20px 0 40px 0;
}
.favorite_cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 32px;
}
.favorite_card {
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  max-width: 405px;
  transition: 0.3s;
}
.favorite_card img {
  width: 100%;
}
.favorite_card:hover {
  box-shadow: 4px 4px 4px 3px rgba(128, 128, 128, 0.2);
}
.favorite_card_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 14px;
}
.favorite_card_text h3 {
  font-size: 24px;
  line-height: 34px;
  color: #2A2C1F;
}
.favorite_card_text h4 {
  font-size: 18px;
  line-height: 27px;
  color: #2A2C1F;
}
.favorite_card_text p {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  color: #65665C;
  gap: 8px;
}
.favorite_card_top {
  display: flex;
  align-items: center;
  gap: 16px;
}
.favorite_card_top span {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  color: #65665C;
  gap: 8px;
}

.section_six {
  position: relative;
  background-color: #F5F5F2;
  padding-bottom: 360px;
}
.section_six .our {
  position: absolute;
  background-color: #65665C;
  border-radius: 24px;
  left: 0;
  right: 0;
  padding: 96px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  bottom: -25%;
}
.section_six .our h2 {
  font-size: 48px;
  line-height: 56px;
  color: #fff;
  text-align: center;
  max-width: 765px;
}
.section_six .our p {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  max-width: 765px;
}

.location {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.location h2 {
  font-size: 48px;
  line-height: 56px;
  color: #2A2C1F;
}
.location p {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #65665C;
  max-width: 700px;
}
.location_cards {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 16px;
}
.location_card {
  background-color: #fff;
  max-width: 415px;
  padding: 33px;
  height: 130px;
  width: 100%;
  border-radius: 16px;
  transition: 0.3s;
}
.location_card:hover {
  box-shadow: 4px 4px 5px 4px rgba(167, 167, 167, 0.2);
}
.location_card h4 {
  font-size: 18px;
  line-height: 30px;
  color: #2A2C1F;
  margin-bottom: 10px;
}
.location_card p {
  display: flex;
  align-items: center;
  color: #2A2C1F;
  font-size: 16px;
  line-height: 24px;
  gap: 10px;
}
.location_btns {
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 24px;
}
.location_btn {
  border: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  gap: 8px;
}

.section_seven {
  padding: 390px 0 130px 0;
}

.say {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 26px;
}
.say h2 {
  font-size: 48px;
  line-height: 56px;
  color: #2A2C1F;
  text-align: center;
}
.say p {
  font-size: 18px;
  line-height: 27px;
  color: #65665C;
  text-align: center;
}
.say_cards {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 54px;
  flex-wrap: wrap;
  gap: 32px;
}
.say_card {
  max-width: 405px;
  height: 360px;
  border-radius: 16px;
  border: 1px solid #E7E8E3;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  transition: 0.3s;
  gap: 28px;
}
.say_card > img {
  width: 100%;
}
.say_card:hover {
  box-shadow: 4px 4px 5px 4px rgba(167, 167, 167, 0.2);
}
.say_card p {
  font-size: 18px;
  line-height: 27px;
  color: #65665C;
}
.say_card_person {
  display: flex;
  align-items: center;
  gap: 16px;
}
.say_card_person h4 {
  width: 120px;
  font-size: 16px;
  line-height: 24px;
  color: #2A2C1F;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.say_card_person h4 span {
  font-weight: 400;
  color: #65665C;
}

.section_last {
  background-color: rgba(167, 167, 167, 0.2);
  padding: 80px 0;
}

.latest {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.latest > span {
  padding: 4px 12px;
  border-radius: 32px;
  background-color: rgba(167, 167, 167, 0.3019607843);
  font-size: 14px;
  line-height: 21px;
  color: #2A2C1F;
}
.latest h2 {
  font-size: 48px;
  line-height: 57px;
  font-weight: 600;
  max-width: 450px;
  color: #2A2C1F;
}
.latest_description {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 32px;
}
.latest_description p {
  font-size: 18px;
  line-height: 27px;
  color: #65665C;
  max-width: 750px;
}
.latest_cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}
.latest_card {
  max-width: 405px;
  border-radius: 0 0 16px 16px;
  background-color: #fff;
  transition: 0.3s;
  height: 550px;
}
.latest_card:hover {
  box-shadow: 4px 4px 5px 4px rgba(196, 196, 196, 0.2);
}
.latest_card > img {
  width: 100%;
}
.latest_card_text {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.latest_card_text > button {
  border: none;
  background-color: transparent;
  color: #2A2C1F;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 8px;
}
.latest_card_btn {
  display: flex;
  align-items: center;
  gap: 16px;
}
.latest_card_btn button {
  color: #2A2C1F;
  font-size: 14px;
  line-height: 21px;
  border: 1px solid transparent;
  background-color: #FAE8E1;
  padding: 2px 8px;
  border-radius: 20px;
}
.latest_card_btn button:hover {
  background-color: transparent;
  border-color: #2A2C1F;
}
.latest_card_btn span {
  font-size: 14px;
  line-height: 21px;
  color: #65665C;
}
.latest_card h4 {
  font-size: 24px;
  line-height: 34px;
  color: #2A2C1F;
}
.latest_card p {
  font-size: 16px;
  line-height: 24px;
  color: #2A2C1F;
}

@media screen and (max-width: 992px) {
  .latest_description p {
    max-width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .favorite h2 {
    font-size: 40px;
  }
  .location h2 {
    font-size: 40px;
    line-height: 48px;
    text-align: center;
  }
  .section_six .our {
    width: 550px;
    bottom: -15%;
  }
  .section_six .our h2 {
    font-size: 40px;
    line-height: 48px;
    text-align: center;
  }
  .say {
    align-items: center;
  }
  .say h2 {
    font-size: 40px;
    line-height: 48px;
    text-align: center;
  }
  .latest {
    align-items: center;
  }
  .latest h2 {
    font-size: 40px;
    line-height: 48px;
    text-align: center;
  }
  .latest_description {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
  }
}
@media screen and (max-width: 576px) {
  .favorite h2 {
    font-size: 32px;
  }
  .location h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .section_six .our {
    width: 440px;
  }
  .section_six .our h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .say h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .latest h2 {
    font-size: 32px;
    line-height: 40px;
  }
}
@media screen and (max-width: 480px) {
  .favorite h2 {
    font-size: 28px;
    line-height: 32px;
    text-align: center;
  }
  .location h2 {
    font-size: 28px;
    line-height: 32px;
  }
  .section_six .our {
    width: 340px;
  }
  .section_six .our h2 {
    font-size: 28px;
    line-height: 32px;
  }
  .say h2 {
    font-size: 28px;
    line-height: 32px;
  }
  .latest h2 {
    font-size: 28px;
    line-height: 32px;
  }
}
.footer {
  padding: 64px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 48px 32px;
}
.footer_logo {
  width: 170px;
}
.footer_logo a > img:nth-child(1) {
  display: none;
}
.footer_items {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 170px;
  gap: 16px;
}
.footer_items input {
  display: none;
}
.footer_items h3 {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  color: #2A2C1F;
  font-weight: 500;
  gap: 8px;
}
.footer_items h3 ion-icon {
  display: none;
}
.footer_items p {
  cursor: pointer;
  font-size: 14px;
  line-height: 21px;
  color: #2A2C1F;
}
.footer_subscribe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 384px;
  width: 100%;
  gap: 16px;
}
.footer_subscribe h3 {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  color: #2A2C1F;
  font-weight: 500;
  gap: 8px;
}
.footer_subscribe_p {
  font-size: 16px;
  line-height: 24px;
}
.footer_subscribe label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.footer_subscribe label input {
  flex-grow: 1;
  height: 40px;
  padding: 0 10px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #E7E8E3;
  transition: 0.3s;
}
.footer_subscribe label input:hover {
  box-shadow: 0 0 3px 2px rgba(199, 199, 199, 0.2431372549);
}
.footer_subscribe-span {
  display: flex;
  align-items: center;
  gap: 14px;
}
.footer_subscribe-span span {
  font-size: 12px;
  color: #65665C;
  line-height: 18px;
}

.footer_top {
  padding: 24px 0;
  background-color: #F5F5F2;
}
.footer_top_last {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_top_last p {
  font-size: 14px;
  line-height: 21px;
  color: #65665C;
}
.footer_top_icon {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer_top_icon ion-icon {
  font-size: 24px;
  color: #2A2C1F;
  transition: 0.3s;
}
.footer_top_icon ion-icon:hover {
  opacity: 0.7;
}

@media screen and (max-width: 992px) {
  .footer {
    justify-content: space-around;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer_items {
    text-align: center;
    align-items: center;
  }
  .footer_items h3 {
    background-color: #fff;
  }
  .footer_items h3 ion-icon {
    display: block;
  }
  .footer_items p {
    position: absolute;
    z-index: -10;
    top: 0;
    left: auto;
    color: white;
    transition: 1s;
  }
  .footer_items #footer_menu:checked ~ p {
    position: static;
    color: #65665C;
  }
  .footer_items #footer_menu2:checked ~ p {
    position: static;
    color: #65665C;
  }
  .footer_items #footer_menu3:checked ~ p {
    position: static;
    color: #65665C;
  }
  .footer_subscribe {
    align-items: center;
    flex-direction: column;
  }
  .footer_subscribe_p {
    text-align: center;
  }
  .footer_top_last {
    flex-direction: column;
    gap: 24px;
  }
}
.btn {
  padding: 7px 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 16px;
  line-height: 24px;
  background-color: #CF6F49;
  display: flex;
  align-items: flex-start;
  height: 40px;
  color: #fff;
  gap: 8px;
}
.btn:hover {
  background-color: transparent;
  border-color: #c0c0c0;
  color: #2A2C1F;
  box-shadow: 0 0 3px 2px rgba(199, 199, 199, 0.2431372549);
}

.dark {
  background-color: #2A2C1F;
}

.dark * {
  color: white !important;
}

.dark_light {
  position: fixed;
  bottom: 60px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #6f6f6f;
  border-radius: 50%;
  padding: 5px;
  z-index: 5;
}
.dark_light:hover {
  background-color: #989898;
}
.dark_light .moon {
  color: #2A2C1F;
  font-size: 32px;
}
.dark_light .sunny {
  display: none;
  font-size: 32px;
}

.dark header {
  background-color: #293329;
}
.dark .navbar > a > img:nth-child(1) {
  display: block;
}
.dark .navbar > a > img:nth-child(2) {
  display: none;
}
.dark .dark_light {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2px;
}
.dark .dark_light:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.dark .dark_light .moon {
  display: none;
}
.dark .dark_light .sunny {
  display: flex;
  color: rgb(255, 234, 0) !important;
}
.dark .section_five {
  background-color: #2A2C1F;
}
.dark .favorite_card {
  background-color: #293329;
}
.dark .section_six {
  background-color: #2A2C1F;
}
.dark .location_card {
  background-color: #293329;
}
.dark .latest_card {
  background-color: #293329;
}
.dark .footer_logo a > img:first-child {
  display: block;
}
.dark .footer_logo a > img:last-child {
  display: none;
}
.dark .footer_top {
  background-color: #2e2e2e;
}

@media screen and (max-width: 992px) {
  .dark .navbar_items {
    background-color: #293329;
  }
}
@media screen and (max-width: 480px) {
  .dark .footer_items h3 {
    background-color: #2A2C1F;
  }
}/*# sourceMappingURL=style.css.map */